:root{
    --main-radius: 5px;
    --main-padding: 5px;
    --blue: #1e90ff;
    --red: #e44444;
    --yellow: #fcd84a; 
    --green: #50fc50;
    --pink: #ff80ea; 
    --purple: #b366ff;
    --orange: #ff9d60;
    --seagreen: #60ffa7;
    --clay: #f19c89;
}

#container{
    display:grid;
    height: 100vh;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .25fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0.5rem;
    grid-template-areas: 
    
    "header header header"
    "nav nav nav"
    "img img desc"
    "education experience articles"
    "img2 img3 img4"
    "pdesc1 pdesc2 pdesc3"
    "footer footer footer"
    ;

}

header {
    grid-area: header;
    height: 15px;
    background-color: var(--purple);
    border-radius: var(--main-radius);
    padding: var(--main-padding);
}

nav {
    grid-area: nav;
    display: flex;
    justify-content: center;
    height: 15px;
    background-color: var(--clay);
    border-radius: var(--main-radius);
    padding: var(--main-padding);
}

desc {
    grid-area: desc;
    background-color: var(--seagreen);
    border-radius: var(--main-radius);
    padding: var(--main-padding);
}

#pdesc1 {
    grid-area: pdesc1;
    background-color: var(--green);
    border-radius: var(--main-radius);
    padding: var(--main-padding);
}

#pdesc2 {
    grid-area: pdesc2;
    background-color: var(--pink);
    border-radius: var(--main-radius);
    padding: var(--main-padding);
}

#pdesc3 {
    grid-area: pdesc3;
    background-color: var(--orange);
    border-radius: var(--main-radius);
    padding: var(--main-padding);
}

img{
    grid-area:img;
    height: 400px;
    width: 850px; 
    background: var(--purple) ;
    border-radius: var(--main-radius);
}

.img2 {
    grid-area: img2;
    height: 200px;
    width: 425px; 
    background: var(--purple) ;
    border-radius: var(--main-radius);
}

.img3 {
    grid-area: img3;
    height: 200px;
    width: 420px; 
    background: var(--purple) ;
    border-radius: var(--main-radius);
}

.img4 {
    grid-area: img4;
    height: 200px;
    width: 390px; 
    background: var(--purple) ;
    border-radius: var(--main-radius);
}

nav a {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

#education{
    grid-area: education;
    background-color: var(--blue);
    border-radius: var(--main-radius);
    padding: var(--main-padding);
}

#experience{
    grid-area: experience;
    background-color: var(--red);
    border-radius: var(--main-radius);
    padding: var(--main-padding);
}

#articles{
    grid-area: articles;
    background-color: var(--yellow);
    border-radius: var(--main-radius);
    padding: var(--main-padding);
}

footer {
    display: flex;
    justify-content: center;
    grid-area: footer;
    background-color: var(--purple);
    border-radius: var(--main-radius);
    padding: var(--main-padding);
}

footer a {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
color: black;
}

@media only screen and (max-width: 500px){
    #container{
        grid-template-columns: 3fr; 
        grid-template-rows: 1fr 1fr  1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
        grid-template-areas:
        "header"
        "nav"
        "img"
        "desc"
        "education"
        "experience"
        "articles"
        "img2"
        "pdesc1"
        "img3"
        "pdesc2"
        "img4"
        "pdesc3"
        "footer"
        ;
    }
    
    img {
        width: 250px;
        height: auto;
    }

}